/* comienzo de servicios */

.motor {
    display: flex;
    background-color: $color-grisoscuro;
    color: $color-blanco;
    text-shadow: 0 0 7px $color-rojo;
}
.puntos{
    background-color: $color-grisoscuro;
}
.puntos ol {
    text-shadow: 0 0 7px $color-rojo;
    margin: 0;
    font-size: 30px;
}

h2 {
    color: $color-blanco;
    text-align: center;
    text-shadow: 0 0 7px $color-rojo;
    margin: 0;
}

img {
    width: 45%;
    height: 600px;
    border-radius: 10px;
}

.motor h2 {
    padding: 30px 50px 50px 50px;
    width: 60%;
    color: $color-rojo;
    text-shadow: 0 0 10px $color-blanco;
    font-size: 50px;
    background-color: $color-gris;
    border: solid 7px $color-rojo;
    border-radius: 10px;

    p {
        color: $color-blanco;
        text-shadow: 0 0 7px $color-rojo;
        font-size: 28px;
    }
}

span {
    color: $color-negro;
    font-size: 55px;
}


.call2 {
    border: 10px solid $color-rojo;
    background-color: rgba(128, 128, 128, 0.712);
    padding: 10%;
    margin: 10px;
    border-radius: 25px;

    h1 {
        font-size: 60px;
        color: $color-rojo;
        text-shadow: 0 0 20px $color-negro;
    }

    p {
        font-size: 35px;
        color: $color-blanco;
        text-shadow: 0 0 20px $color-rojo;
    }
}

@media only screen and (min-width: 1200px) {
    img {
        width: 50%;
    }

    .motor {
        h2 p {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }
    }

    .call2 {
        h1 {
            font-size: 80px;
        }

        p {
            font-size: 35px;
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 321px) {
    img {
        width: 50%;
        height: 450px;
    }

    .motor {
        height: 450px;

        h2 {
            font-size: 35px;
            text-shadow: 0 0 3px $color-negro;

            p {
                font-size: 19px;
            }
        }
    }

    span {
        font-size: 38px;
    }
    .puntos ol{
        font-size: 20px;
    }

    .call2 {
        border: 7px solid $color-rojo;
        padding: 8px;
        margin: 8px;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }
    }
    footer{
        margin: 0;
    }
}

@media only screen and (max-width: 320px) {
    img {
        width: 60%;
        height: 250px;
    }

    .motor h2 {
        font-size: 16px;
        padding: 10px;
        margin: 1px;
    }

    span {
        font-size: 16px;
    }

    .motor {
        h2 p {
            font-size: 10px;
            text-shadow: 0 0 5px $color-negro;
        }
    }
    .puntos ol{
        font-size: 15px;
    }

    .call2 {
        border: 4px solid $color-rojo;

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 15px;
        }
    }

    .motor p2 {
        display: none;
    }
    footer{
        margin: 0;
    }
}

/* fin pagina servicios */